<script lang="ts" context="module">
	import { browser } from "$app/env"
	export const load: Load = async ({ session }) => {
		const { config } = session
		return new Promise((resolve) => {
			if (browser) {
				const query = parseQueryString(window.location.search)
				initApp(config, query).match(
					(container) => {
						resolve({ props: { container } })
					},
					(error: ErrorResult) => {
						console.error(error)
						resolve({ props: { error } })
					},
				)
			}
		})
	}
</script>

<script lang="ts">
	import "../app.postcss"

	import { setContext } from "svelte"
	import type { Container } from "$lib/bootstrap"
	import { initApp } from "$lib/bootstrap"
	import type { ErrorResult } from "$lib/model/errors"
	import type { AppContext } from "$lib/infra/svelte/context"
	import { appContextKey } from "$lib/infra/svelte/context"
	import type { Load } from "@sveltejs/kit"
	import { parseQueryString } from "$lib/infra/url"

	export let container: Container
	export let error: ErrorResult | null = null

	setContext<AppContext>(appContextKey, {
		getContainer: () => container,
	})
</script>

<!-- Force text color to black to fix a render problem on Firefox -->
<main class="text-black">
	{#if error !== null}
		<p>Impossible de charger les données permettant d'initialiser l'application.</p>
	{:else}
		<slot />
	{/if}
</main>

<style global lang="postcss">
	@import "tippy.js/dist/tippy.css";
	@import "tippy.js/themes/light-border.css";
</style>
