<script lang="ts">
	import { SvelteControl } from "@jailbreak-paris/svelte-mapbox-gl"
	import { updateUrlFromSplitMapController } from "$lib/infra/url"
	import type { Indicator, IndicatorSlug } from "$lib/model/Indicator"
	import SvgIcon from "$lib/components/SvgIcon.svelte"
	import { eyeClosed, eyeOpened, information } from "$lib/heroicons"
	import tippyAction from "$lib/actions/tippy"
	import { addHeadingLevel3, formatMarkdown } from "$lib/markdown.js"
	import type { MapPanelController } from "$lib/model/MapPanelController"
	import { getContainerFromContext } from "$lib/infra/svelte/context"

	export let position = "bottom-right"
	export let mapPanelController: MapPanelController
	export let mapId: number

	const container = getContainerFromContext()
	const { indicatorServices, splitMapControllerStore, showIndicatorSelectorModalStore } = container

	const indicators = indicatorServices.getIndicators()

	// Indicators available in selector are stored / updated in the indicator controller of map1
	$: indicatorsInSelector = $splitMapControllerStore
		.getMapPanelControllerOfMapId(1)
		.getAvailableInSelectorIndicators(indicators)

	function showModal() {
		$showIndicatorSelectorModalStore = true
	}

	function handleIndicatorCheckboxChange(indicator: Indicator): void {
		const indicatorSlug: IndicatorSlug = indicator.slug
		const shownOnMap: boolean = mapPanelController.isIndicatorShown(indicatorSlug)
		mapPanelController.setIndicatorShownOnMap(indicatorSlug, !shownOnMap)
		// If we are in single map, change also the selected / unselected indicators on map 2
		if (mapId === 1 && !$splitMapControllerStore.doubleMap) {
			$splitMapControllerStore.getMapPanelControllerOfMapId(2).setIndicatorShownOnMap(indicatorSlug, !shownOnMap)
		}
		$splitMapControllerStore = $splitMapControllerStore // hack: tell Svelte that store value has changed
		updateUrlFromSplitMapController($splitMapControllerStore)
	}

	function buildTooltipContent(name: string, description: string) {
		const markdown = `${addHeadingLevel3(name, description)}`
		let formatedMarkdown = formatMarkdown(markdown)
		// hack to add target _blank to links
		formatedMarkdown = formatedMarkdown.replaceAll("<a href", "<a target='_blank' href")
		return `<div class="overflow-y-auto" style="max-height: 50vh">${formatedMarkdown}</div>`
	}
</script>

<SvelteControl {position}>
	<div class="flex justify-between items-center px-2 py-1 border-b">
		<div class="text-sm">Indicateurs</div>
	</div>
	<div class="px-2 pt-2" id="indicator-selector-{mapId}">
		{#if indicatorsInSelector.length > 0}
			<ul>
				{#each indicatorsInSelector as indicator}
					<li class="flex items-center justify-between px-1 hover:bg-gray-100 rounded my-1">
						<span
							class="flex items-center h-full w-full cursor-pointer"
							id={indicator.slug}
							on:click={() => handleIndicatorCheckboxChange(indicator)}
						>
							<span class="mr-2">
								{#if mapPanelController.isIndicatorShown(indicator.slug)}
									<SvgIcon size={24} {...eyeOpened} />
								{:else}
									<SvgIcon size={24} {...eyeClosed} />
								{/if}
							</span>
							{indicator.name}
						</span>
						<div class="flex indicator-buttons ml-2">
							{#if indicator.description}
								<span
									class="cursor-pointer rounded"
									title="Afficher la description de la couche"
									use:tippyAction={{
										content: buildTooltipContent(indicator.name, indicator.description),
									}}
								>
									<SvgIcon size={24} {...information} />
								</span>
							{/if}
						</div>
					</li>
				{/each}
			</ul>
		{/if}
		<button class="btn btn-link reset-mapbox-button" on:click={showModal}>Ajouter&nbsp;un&nbsp;indicateur</button>
	</div>
</SvelteControl>

<style global lang="postcss">
	/* Set tippy width */
	.indicator-buttons > div[data-tippy-root=""] {
		width: 500px;
	}
</style>
