<script lang="ts">
	export let active = false
	export let position: string | null = null

	import { SvelteControl } from "@jailbreak-paris/svelte-mapbox-gl"
	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher<{ changeSplitMode: boolean }>()
</script>

<SvelteControl let:map {position}>
	<div class="px-2 py-1">
		<label class="flex items-center">
			<input
				type="checkbox"
				class="mr-2"
				checked={active}
				on:change={() => {
					active = !active
					dispatch("changeSplitMode", active)
				}}
			/>
			Double carte
		</label>
	</div>
</SvelteControl>
