@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@layer utilities {
	.modal-title {
		@apply text-xl;
	}

	/* Revert some properties of .mapboxgl-ctrl-group button */
	.reset-mapbox-button {
		@apply hover:bg-transparent !important;
		@apply w-auto;
	}
}
