<script lang="ts">
	import { createEventDispatcher } from "svelte"
	import AutoComplete from "simple-svelte-autocomplete"
	import { getContainerFromContext } from "$lib/infra/svelte/context"

	export let selectedItem = null

	const container = getContainerFromContext()
	const { indicatorServices } = container

	let node

	const dispatch = createEventDispatcher()

	function handleOnChange(item) {
		if (item === undefined) return
		dispatch("change", item)
	}

	// Hack to fix a render problem on Firefox
	$: if (node !== undefined) {
		const input = node.querySelector(".input-container input")
		input.setAttribute("style", "background-color: transparent")
	}
</script>

<div bind:this={node}>
	<AutoComplete
		hideArrow
		onChange={handleOnChange}
		className="location-autocompleter"
		placeholder="Rechercher une commune…"
		loadingText="Chargement..."
		noResultsText="Aucune commune n'a été trouvée"
		{selectedItem}
		showClear
		minCharactersToSearch="2"
		searchFunction={(keyword) => indicatorServices.fetchFeaturesFromAddressApi(keyword)}
		labelFunction={(item) => (item === null ? "" : item.properties.label)}
	/>
</div>
