<script lang="ts">
	import { getContainerFromContext } from "$lib/infra/svelte/context"
	import { updateUrlFromSplitMapController } from "$lib/infra/url"

	import type { Indicator } from "$lib/model/Indicator"
	import type { IndicatorData, IndicatorDataId } from "$lib/model/IndicatorData"
	import type { IndicatorDataRepoError } from "$lib/model/repositiories/indicator_data_repo"

	export let indicator: Indicator

	const container = getContainerFromContext()
	const { indicatorServices, splitMapControllerStore } = container

	let error: IndicatorDataRepoError | null = null
	let indicatorDataItems: IndicatorData[] = []
	let indicatorDataItemsIds: IndicatorDataId[] = []
	let shownIndicatorDataItemsIds: IndicatorDataId[] = []

	function loadIndicatorDataItems(indicator: Indicator): void {
		indicatorServices.findIndicatorDataItemsOfIndicator(indicator).match(
			(ok) => {
				indicatorDataItems = ok
			},
			(err) => {
				error = err
			},
		)
	}

	$: loadIndicatorDataItems(indicator)

	// The indicators shown on map are stored in the map ID 1.
	$: mapPanelController = $splitMapControllerStore.getMapPanelControllerOfMapId(1)

	$: indicatorDataItemsIds = indicatorDataItems.map((indicatorDataItem) => indicatorDataItem.id)

	$: shownIndicatorDataItemsIds = mapPanelController.getShownIndicatorDataIds()

	let numberOfCheckedIndicadatorDataItems = 0

	function updateNumberOfCheckedIndicadatorDataItems() {
		numberOfCheckedIndicadatorDataItems = 0
		for (const indicatorDataId of indicatorDataItemsIds) {
			if (shownIndicatorDataItemsIds.includes(indicatorDataId)) {
				numberOfCheckedIndicadatorDataItems += 1
			}
		}
	}

	$: updateNumberOfCheckedIndicadatorDataItems()

	function handleCheckboxChange(event: Event, indicatorData: IndicatorData): void {
		const shownOnMap = mapPanelController.isIndicatorDataShown(indicatorData.id)
		$splitMapControllerStore.setIndicatorDataShownOnMap(indicatorData.id, !shownOnMap)
		updateNumberOfCheckedIndicadatorDataItems()

		// Check indicator on the first indicatorDatas checked
		if (!shownOnMap && numberOfCheckedIndicadatorDataItems === 0) {
			$splitMapControllerStore.setIndicatorsAvailableInSelector(indicator.slug, true)
		} // Uncheck indicator on uncheck of the last indicatorData
		else if (shownOnMap && numberOfCheckedIndicadatorDataItems === 1) {
			$splitMapControllerStore.setIndicatorsAvailableInSelector(indicator.slug, false)
		}

		$splitMapControllerStore = $splitMapControllerStore // hack: tell Svelte that store value has changed
		updateUrlFromSplitMapController($splitMapControllerStore)
	}
</script>

{#if error !== null}
	<p>Could not load computed data corresponding to this indicator.</p>
{:else if indicatorDataItems.length}
	<ul>
		{#each indicatorDataItems as indicatorData}
			<li class="space-x-2 ml-6">
				<input
					type="checkbox"
					checked={mapPanelController.isIndicatorDataShown(indicatorData.id)}
					on:change={(event) => handleCheckboxChange(event, indicatorData)}
				/>
				<span>{indicatorData.parameterProfile.name}</span>
				<span class="text-gray-400">({indicatorData.id}, {indicatorData.createdAt})</span>
			</li>
		{/each}
	</ul>
{/if}
