<script lang="ts">
	import type { Indicator, IndicatorSlug } from "$lib/model/Indicator"
	import { updateUrlFromSplitMapController } from "$lib/infra/url"
	import { eyeClosed, eyeOpened } from "$lib/heroicons"
	import SvgIcon from "$lib/components/SvgIcon.svelte"
	import type { MapPanelController } from "$lib/model/MapPanelController"
	import { getContainerFromContext } from "$lib/infra/svelte/context"
	import IndicatorDataItems from "$lib/components/IndicatorDataItems.svelte"

	const container = getContainerFromContext()
	const { indicatorRepoStore, splitMapControllerStore } = container

	let dialogElement: HTMLElement

	async function initDialogPolyfill(element: HTMLElement) {
		const dialogPolyfill = (await import("dialog-polyfill")).default
		dialogPolyfill.registerDialog(element)
	}

	let dialogPolyfillInitialized = false
	$: if (dialogElement && !dialogPolyfillInitialized) {
		initDialogPolyfill(dialogElement)
		dialogPolyfillInitialized = true
	}

	$: if (dialogElement && dialogPolyfillInitialized) {
		if ($showIndicatorSelectorModal) {
			dialogElement.showModal()
		} else if (dialogElement.open) {
			dialogElement.close()
		}
	}

	let mapPanelController: MapPanelController
	let indicators: Indicator[]
	let availableInSelectorIndicatorSlugs: IndicatorSlug[]
	let notWorkInProgressIndicators: Indicator[]
	let workInProgressIndicators: Indicator[]

	// read and update indicators available in selector on mapPanelController of map1
	$: mapPanelController = $splitMapControllerStore.getMapPanelControllerOfMapId(1)

	$: {
		indicators = $indicatorRepoStore.getIndicators()
		let _notWorkInProgressIndicators: Indicator[] = []
		let _workInProgressIndicators: Indicator[] = []
		for (const indicator of indicators) {
			if (indicator.workInProgress) {
				_workInProgressIndicators.push(indicator)
			} else {
				_notWorkInProgressIndicators.push(indicator)
			}
		}
		;[notWorkInProgressIndicators, workInProgressIndicators] = [_notWorkInProgressIndicators, _workInProgressIndicators]
	}

	$: availableInSelectorIndicatorSlugs = mapPanelController.getAvailableInSelectorIndicatorsSlugs()

	const showIndicatorSelectorModal = container.showIndicatorSelectorModalStore

	function handleClose() {
		showIndicatorSelectorModal.set(false)
	}

	function onClickModal(event) {
		var rect = dialogElement.getBoundingClientRect()
		var isInDialog =
			rect.top <= event.clientY &&
			event.clientY <= rect.bottom &&
			rect.left <= event.clientX &&
			event.clientX <= rect.right
		if (!isInDialog) {
			handleClose()
		}
	}

	function setIndicatorsAvailableInSelector(event: Event, indicatorSlug: IndicatorSlug, availableInSelector: boolean) {
		// do not open the "details" item
		event.preventDefault()
		// set indicator availableInSelector, shownOnMap and trigger an update on both maps
		$splitMapControllerStore.setIndicatorsAvailableInSelector(indicatorSlug, availableInSelector)
		$splitMapControllerStore = $splitMapControllerStore // hack: tell Svelte that store value has changed
		updateUrlFromSplitMapController($splitMapControllerStore)
	}
</script>

<dialog bind:this={dialogElement} on:close={handleClose} on:click={onClickModal}>
	<h2 class="dialogElement-title mb-4">Couches d'indicateurs à afficher</h2>
	<div class="actions absolute top-2 right-3">
		<button class="small close-dialogElement-btn" on:click={handleClose} title="Fermer">X</button>
	</div>
	{#if indicators}
		{#if notWorkInProgressIndicators}
			<ul>
				{#each notWorkInProgressIndicators as indicator}
					<li>
						<details>
							<summary>
								<span class="cursor-pointer">
									<span
										on:click={(event) =>
											setIndicatorsAvailableInSelector(
												event,
												indicator.slug,
												!availableInSelectorIndicatorSlugs.includes(indicator.slug),
											)}
									>
										{#if availableInSelectorIndicatorSlugs.includes(indicator.slug)}
											<SvgIcon size={24} {...eyeOpened} />
										{:else}
											<SvgIcon size={24} {...eyeClosed} />
										{/if}
									</span>
									{indicator.name}
								</span>
								<span class="text-gray-400">({indicator.slug})</span>
							</summary>
							<IndicatorDataItems {indicator} />
						</details>
					</li>
				{/each}
			</ul>
		{/if}
		{#if workInProgressIndicators}
			<details class="mt-4">
				<summary>Indicateurs en travaux</summary>
				<ul class="ml-2">
					{#each workInProgressIndicators as indicator}
						<li>
							<details>
								<summary>
									<span class="cursor-pointer">
										<span
											on:click={(event) =>
												setIndicatorsAvailableInSelector(
													event,
													indicator.slug,
													!availableInSelectorIndicatorSlugs.includes(indicator.slug),
												)}
										>
											{#if availableInSelectorIndicatorSlugs.includes(indicator.slug)}
												<SvgIcon size={24} {...eyeOpened} />
											{:else}
												<SvgIcon size={24} {...eyeClosed} />
											{/if}
										</span>
										{indicator.name}
									</span>
									<span class="text-gray-400">({indicator.slug})</span>
								</summary>
								<IndicatorDataItems {indicator} />
							</details>
						</li>
					{/each}
				</ul>
			</details>
		{/if}
	{/if}
</dialog>

<style>
	dialog {
		position: fixed;
		top: 50%;
		transform: translate(0, -50%);
		overflow-y: auto;
		max-height: 80%;
	}
</style>
