<script context="module" lang="ts">
	export type ViewParams = MapParams & SharedMapParams
</script>

<script lang="ts">
	import { tick } from "svelte"
	import { page } from "$app/stores"
	import {
		getAvailableIndicatorsFromPageStore,
		getCurrentQueryString,
		getShownIndicatorsFromPageStore,
		updateUrlFromSplitMapController,
	} from "$lib/infra/url"
	import type { URLIndicatorId } from "$lib/infra/url"
	import type { MapParams, SharedMapParams, SplitMapController } from "$lib/model/SplitMapController"
	import type { LngLat } from "$lib/model/SplitMapController"
	import IndicatorsMap from "$lib/components/IndicatorsMap.svelte"
	import IndicatorSelectorEditModal from "$lib/components/IndicatorSelectorEditModal.svelte"
	import { getContainerFromContext } from "$lib/infra/svelte/context"
	import { appInitialized } from "$lib/infra/svelte/stores/init"
	import SvgIcon from "$lib/components/SvgIcon.svelte"
	import { externalLink } from "$lib/heroicons"

	let map1: any = null
	let map2: any = null

	let map1Loaded: boolean = false
	let map2Loaded: boolean = false

	let node: HTMLElement

	let ignoreMoveEndEvent = false

	const container = getContainerFromContext()
	const { splitMapController, splitMapControllerStore } = container

	let injectIndicators = false
	let availableIndicators: URLIndicatorId[] | null = null
	let shownIndicatorsMap1: URLIndicatorId[] | null = null
	let shownIndicatorsMap2: URLIndicatorId[] | null = null

	let indicatorSelectorsSaved = false
	let indicatorSelectorMap1: HTMLElement
	let indicatorSelectorMap2: HTMLElement

	// save available and shown indicators set on url on global vars to use them in loadSplitMapControlerFromQuery
	function saveAvailableAndShownIndicatorsFromQuery() {
		const queryString = getCurrentQueryString()
		if (queryString !== "?") {
			injectIndicators = true
			availableIndicators = getAvailableIndicatorsFromPageStore($page)
			shownIndicatorsMap1 = getShownIndicatorsFromPageStore($page, 1)
			shownIndicatorsMap2 = getShownIndicatorsFromPageStore($page, 2)
		}
	}

	// store the HTMLElement of indicators selector of map1 and map2 and hide them
	function saveIndicatorSelectorMapElements() {
		const indicatorSelectorMap1Child = document.getElementById("indicator-selector-1")
		if (indicatorSelectorMap1Child === null) {
			console.log("Error: indicator selector of map 1 is not loaded")
			return
		}
		const _indicatorSelectorMap1 = indicatorSelectorMap1Child.parentElement
		if (_indicatorSelectorMap1) {
			indicatorSelectorMap1 = _indicatorSelectorMap1
		} else {
			return
		}

		const indicatorSelectorMap2Child = document.getElementById("indicator-selector-2")
		if (indicatorSelectorMap2Child === null) {
			console.log("Error: indicator selector of map 2 is not loaded")
			return
		}
		const _indicatorSelectorMap2 = indicatorSelectorMap2Child.parentElement
		if (_indicatorSelectorMap2) {
			indicatorSelectorMap2 = _indicatorSelectorMap2
		} else {
			return
		}

		// hide both indicator selector on load
		indicatorSelectorMap1.classList.add("hidden")
		indicatorSelectorMap2.classList.add("hidden")

		indicatorSelectorsSaved = true
	}

	// Load available and shown indicators if they are set on url
	async function injectSavecAvailableAndShownIndicators() {
		if (injectIndicators) {
			splitMapController.setListOfIndicatorsAvailableInSelectorAndResetShownIndicators(availableIndicators)
			$splitMapControllerStore = splitMapController
			await tick()
			if (indicatorSelectorMap1 !== null) {
				for (const shownIndicator of shownIndicatorsMap1) {
					const labelShownIndicator = indicatorSelectorMap1.querySelector(`#${shownIndicator}`)
					if (labelShownIndicator) {
						labelShownIndicator.click()
					}
				}
			}
			indicatorSelectorMap1.classList.remove("hidden")
			if ($splitMapControllerStore.doubleMap) {
				if (indicatorSelectorMap2 !== null) {
					for (const shownIndicator of shownIndicatorsMap2) {
						const labelShownIndicator = indicatorSelectorMap2.querySelector(`#${shownIndicator}`)
						if (labelShownIndicator) {
							labelShownIndicator.click()
						}
					}
				}
			}
			indicatorSelectorMap2.classList.remove("hidden")
		}
	}

	// First, save available and shown indicators from query
	$: if (!$appInitialized) {
		saveAvailableAndShownIndicatorsFromQuery()
	}

	$: if (node && injectIndicators) {
		saveIndicatorSelectorMapElements()
	}

	// then, when both map are loaded, inject available and and shown indicators from query to resfresh the maps and the indicator selector
	$: if (node && map1Loaded && map2Loaded) {
		injectSavecAvailableAndShownIndicators()
	}

	const initialViewParams1 = buildInitialViewParams(1, splitMapController)
	const initialViewParams2 = buildInitialViewParams(2, splitMapController)

	function buildInitialViewParams(mapId: number, splitMapController: SplitMapController): ViewParams {
		const mapParams = splitMapController.mapParams[mapId - 1]
		const sharedMapParams = splitMapController.sharedMapParams
		return {
			bearing: sharedMapParams.bearing,
			center: mapParams.center,
			pitch: sharedMapParams.pitch,
			zoom: sharedMapParams.zoom,
		}
	}

	function syncMap(mapOfEvent, splitMapController: SplitMapController, mapId: number): void {
		const bearing = mapOfEvent.getBearing()
		const mapCenter = mapOfEvent.getCenter()
		const center: LngLat = [mapCenter.lng, mapCenter.lat]
		const pitch = mapOfEvent.getPitch()
		const zoom = mapOfEvent.getZoom()
		const { sharedMapParams } = splitMapController
		const sharedMapParamsChanged =
			bearing !== sharedMapParams.bearing || pitch !== sharedMapParams.pitch || zoom !== sharedMapParams.zoom
		splitMapController.updateMapParams({ center }, { bearing, pitch, zoom }, mapId)
		$splitMapControllerStore = splitMapController // hack: tell Svelte that store value has changed
		updateUrlFromSplitMapController(splitMapController, { replaceState: true })
		if (sharedMapParamsChanged && splitMapController.doubleMap && map1 !== null && map2 !== null) {
			const otherMap = mapId === 1 ? map2 : map1
			if (otherMap !== null) {
				const otherMapCenter = otherMap.getCenter()
				ignoreMoveEndEvent = true
				otherMap.jumpTo({
					center: [otherMapCenter.lng, otherMapCenter.lat],
					zoom: zoom,
					pitch: pitch,
					bearing: bearing,
				})
				ignoreMoveEndEvent = false
			}
		}
	}

	// This event is triggered after a move, a zoom, a pitch or a rotate of the map 'mapId'
	function handleMapMoveEnd(event: CustomEvent, splitMapController: SplitMapController, mapId: number): void {
		if (ignoreMoveEndEvent) {
			return
		}
		const mapOfEvent = event.detail.target
		syncMap(mapOfEvent, splitMapController, mapId)
	}

	async function handleSplitModeControlChange(event): void {
		const checked = event.detail
		$splitMapControllerStore.doubleMap = checked
		// on switch to single map mode, reset selected / unselected indicators of map2 to those of map1
		if (!$splitMapControllerStore.doubleMap) {
			$splitMapControllerStore.resetMapPanelController2()
		}
		await tick()
		map1.resize()
		if (map2 !== null) {
			map2.resize()
		}
	}

	function handleMapLoaded(event): void {
		const mapId = event.detail
		if (mapId === 1) {
			map1Loaded = true
		} else if (mapId === 2) {
			map2Loaded = true
		}
	}
</script>

<div class="h-screen" bind:this={node}>
	<div class="fixed z-10 bg-white p-2 rounded-sm hover:underline" style="top: 10px; right: 48px;">
		<a class="flex items-center" target="_blank" href="https://openmobilityindicators.org/projet">
			<span class="mr-1">À propos du projet</span>
			<SvgIcon size={20} {...externalLink} />
		</a>
	</div>
	<div class="flex h-full">
		<div class={$splitMapControllerStore.doubleMap ? "w-1/2 border-r border-black" : "w-full"}>
			<IndicatorsMap
				mapId={1}
				initialViewParams={initialViewParams1}
				mapPanelController={$splitMapControllerStore.getMapPanelControllerOfMapId(1)}
				showSplitModeControl={!$splitMapControllerStore.doubleMap}
				doubleMapEnabled={$splitMapControllerStore.doubleMap}
				bind:map={map1}
				on:moveend={(event) => handleMapMoveEnd(event, $splitMapControllerStore, 1)}
				on:changeSplitMode={handleSplitModeControlChange}
				on:mapLoaded={handleMapLoaded}
			/>
		</div>
		<!-- When doubleMap is disabled, do not display map2.
		We do not destroy the component to avoid lags and a bug on toggle of double map. -->
		<div class={!$splitMapControllerStore.doubleMap ? "hidden w-1/2" : "w-1/2"}>
			<IndicatorsMap
				slot="right"
				mapId={2}
				initialViewParams={initialViewParams2}
				mapPanelController={$splitMapControllerStore.getMapPanelControllerOfMapId(2)}
				showSplitModeControl={true}
				doubleMapEnabled={$splitMapControllerStore.doubleMap}
				bind:map={map2}
				on:moveend={(event) => handleMapMoveEnd(event, $splitMapControllerStore, 2)}
				on:changeSplitMode={handleSplitModeControlChange}
				on:mapLoaded={handleMapLoaded}
			/>
		</div>
	</div>
	<IndicatorSelectorEditModal />
</div>
