<script lang="ts">
	export let d: string
	export let viewBox: string
	export let size: number
	export { className as class }
	export let variant: string

	import { ensureArray } from "$lib/utils"

	$: if (variant !== "outline" && variant !== "solid") {
		throw new Error(`Variant ${variant} is not supported`)
	}

	let stroke: string
	let fill: string
	let pathClipRule: string | null = null
	let pathFillRule: string | null = null
	let strokeLinecap: string | null = null
	let strokeLinejoin: string | null = null
	let strokeWidth: number | null = null

	$: if (variant === "outline") {
		fill = "none"
		stroke = "currentColor"
		strokeLinecap = strokeLinejoin = "round"
		strokeWidth = 2
	} else {
		// variant "solid"
		fill = "currentColor"
		pathClipRule = pathFillRule = "evenodd"
	}
	$: fill = variant === "outline" ? "none" : "currentColor"

	let className = null
</script>

<svg
	xmlns="http://www.w3.org/2000/svg"
	class={className}
	{viewBox}
	width={size}
	height={size}
	{stroke}
	stroke-linecap={strokeLinecap}
	stroke-linejoin={strokeLinejoin}
	stroke-width={strokeWidth}
	{fill}
>
	{#each ensureArray(d) as d}
		<path clip-rule={pathClipRule} fill-rule={pathFillRule} {d} />
	{/each}
</svg>

<style>
	svg {
		display: inline-block;
	}
</style>
